.root-div-books{
    padding-top: 1%;
    padding-left: 2%;
    min-height: 100vh;
    box-sizing: border-box;

    font-family: 'Times New Roman', serif;
}

.root-div-books p{ 
    color: black;
}

label{
    margin-right: 1%;
}

button{
    margin-left: 0.5%;
    border: black;
}

.root-div-books table{
    height: 80%;
    width: 90%;
}

.table-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.modal{
    font-family: 'Times New Roman', serif;
}

.modal-image{
    float: right;
}

.modal-description{
    clear: both;
}