.root-div-projects{
    background-color: gray;
    padding-top: 10px;
    padding-bottom: 50%;

    font-family: 'Courier New', monospace;

}

h3{
    text-align: left;
    margin-top: 1px;
    margin-left: 10px;
}

.row{
    margin-top: 50px;
}

.card-body p{
    color: black;
}