.home {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 100%;

    background-image: url('https://sample-fullstack-bucket.s3.us-east-2.amazonaws.com/242277.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 100%;
    width: 100%;

    font-family: 'Courier New', monospace;
}

h5{
    text-align:left;
    margin-left: 15px;
    color: white;
    margin-top: 1px;
}

h4{
    text-align:left;
    margin-left: 15px;
    color: white;
    margin-bottom: 3%;
}

p{
    line-height: 2;
    color: white;
}